@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ECardGenerator.Models

@model Ecard

<h1>Please fill out the form</h1>
<form id="eCardForm" method="POST" action="@Url.Action("FormResults", "Template")">
    <section>
        <div>
            Please select a card color:
            @Html.TextBoxFor(m=> m.TemplateID, new { id = "TemplateID" })

            <select name="TemplateID">
            <option value="1">Blue Card</option>
            <option value="2">Green Card</option>
            <option value="3">Grey Card</option>
            <option value="4">Salmon Card</option>
        </select>
        </div>
        <div>
            <div>
                To Name:
                @Html.TextBoxFor(m => m.ToName, new { id = "ToName" })

            </div>
            <div>
                To Email:
                @Html.TextBoxFor(m => m.ToEmail, new { id = "ToEmail" })              
            </div>
            <div>
                From Name:
                @Html.TextBoxFor(m => m.FroName, new { id = "FroName" })
            </div>
            <div>
                From Email:
                @Html.TextBoxFor(m => m.FroEmail, new { id = "FroEmail"})
            </div>
            <div>
                Message:
                @Html.TextBoxFor(m => m.Message, new { id = "Message"})
            </div>
            <input type="submit" name="submitButton" value="submit" />
        </div>

    </section>
</form>
